<div
  class="flex justify-evenly items-center p-5 pt-10 xsm:flex-wrap-reverse lg:flex-nowrap"
>
  <div class="xsm:p-3 mt-5 lg:w-6/12">
    <h1 class="text-slate-600 dark:text-slate-100">Hey I'm</h1>
    <h1 class="text-6xl text-slate-600 dark:text-slate-200">
      <span class="text-blue-500">Sreehari</span> Prathap
    </h1>
    <h1 class="text-slate-600 py-5 text-justify dark:text-slate-100">
      Full Stack Developer + UI/UX Designer
    </h1>
    <p class="dark:text-slate-100">
      I'm a full stack developer and UI/UX designer. I'm greatly passionate
      about web development and design. I'm currently working as a full stack
      developer. I'm interested in solving complex problems and I'm always
      looking to learn new things. Solving user issues, designing and developing
      user interfaces is also something i really enjoy doing.
    </p>
  </div>
  <div>
    <img src="assets/dpas.png" alt="" class="w-72" />
  </div>
</div>
