<div
  class="flex justify-center items-center gap-x-7 text-gray-500 xsm:flex lg:hidden bg-slate-50 py-3 px-1"
>
  <div class="flex items-center space-x-2 cursor-pointer">
    <!-- <fa-icon
      [icon]="faFeather"
      class="fa-lg hover:text-blue-500 transition duration-150"
    ></fa-icon> -->
    <p
      class="text-sm hover:text-blue-500 transition duration-150 hover:underline"
    >
      Blog
    </p>
  </div>
  <div class="flex items-center space-x-2 cursor-pointer">
    <!-- <fa-icon
      [icon]="faBriefcase"
      class="fa-lg hover:text-blue-500 transition duration-150"
    ></fa-icon> -->
    <p
      class="text-sm hover:text-blue-500 transition duration-150 hover:underline"
    >
      Work
    </p>
  </div>
  <div class="flex items-center space-x-2 cursor-pointer">
    <!-- <fa-icon
      [icon]="faSmile"
      class="fa-lg hover:text-blue-500 transition duration-150"
    ></fa-icon> -->
    <p
      class="text-sm hover:text-blue-500 transition duration-150 hover:underline"
    >
      Contact
    </p>
  </div>
</div>
